.home-first-intro{
background-image: url("http://cdn2.hubspot.net/hub/53/file-2421972586-png/00-Blog_Thinkstock_Images/social-content-data.png");
background-size: cover;
background-repeat: no-repeat;
}

.apps-addon img{
    width: 55px;
}
