h1{
    font-size: 60px;
}
.main-cover{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform:  translate(-50%, -50%);
    -moz-transform:  translate(-50%, -50%);
    -o-transform:  translate(-50%, -50%);
}
.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}