h1{
    font-size: 60px;
}
.main-cover{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform:  translate(-50%, -50%);
    -moz-transform:  translate(-50%, -50%);
    -o-transform:  translate(-50%, -50%);
}